networks:
  consul-network:
    driver: bridge
  
services:
  consul:
    image: {{ database_consul_image }}
    container_name: consul
    ports:
      - "8500:8500"
      - "8600:8600"
      - "8300-8302:8300-8302"
    networks:
      - consul-network
    volumes:
      - ./consul-config.json:/consul/config/consul.json
      - ./data:/consul/data
    environment:
      - CONSUL_BIND_INTERFACE=eth0
    command: "consul agent -config-dir=/consul/config"