{
    "bind_addr": "{{ ansible_host }}",
    "client_addr": "{{ ansible_host }} 127.0.0.1",
    "datacenter": "{{ database_consul_datacenter }}",
    "domain": "{{ database_consul_domain }}",
    "data_dir": "{{ database_consul_data_dir }}",
    "ui_config": {
        "enabled" : {{ database_consul_ui_config.enabled|lower }}
    },
    "log_level": "{{ database_consul_log_level }}",
    "enable_debug": {{ database_consul_enable_debug|lower }},
    "node_name": "{{ inventory_hostname }},
    "server": {{ database_consul_server|lower }},
    "bootstrap_expect": {{ database_consul_bootstrap_expect }},
    "leave_on_terminate": {{ database_consul_leave_on_terminate|lower }},
    "skip_leave_on_interrupt": {{ database_consul_skip_leave_on_interrupt|lower }},
    "rejoin_after_leave": {{ database_consul_rejoin_after_leave|lower }},
    "disable_update_check": {{ database_consul_disable_update_check|lower }},
    "performance": {
        "raft_multiplier": {{ database_consul_performance.raft_multiplier }}
    },
    "recursors": {{ database_consul_recursors}},
    "ports": {
        "dns": {{ database_consul_ports.dns }}
    },
    "retry_join": [
{% for host in region_nodes %}
        "{{ hostvars[host].ansible_host }}:8301"{{ "," if not loop.last else "" }}
{% endfor %}
    ],
    "retry_join_wan": [
{% for host in groups['consul'] | difference(region_nodes) %}
        "{{ hostvars[host].ansible_host }}:8302"{{ "," if not loop.last else "" }}
{% endfor %}
    ]
}
