DEBUG=False
DJANGO_SETTINGS_MODULE=processServer.settings

DB_NAME={{ server_db_name }}
DB_USER={{ server_db_user }}
DB_PASSWORD={{ server_db_password }}
DB_HOST={{ server_db_host }}
DB_PORT={{ server_db_port }}

KAFKA_TOPIC={{ kafka_topic }}
KAFKA_BOOTSTRAP_SERVER={% for host in groups['kafka'] %}{{ hostvars[host].ansible_host }}{{ "," if not loop.last else "" }}{% endfor %}
