version: '3.3'

services:
  server:
    image: {{ server_image }}
    container_name: server
    env_file: 'backend.env'
    ports:
      - 8000:8000

  consumer:
    image: {{ server_image }}
    container_name: consumer
    env_file: 'backend.env'
    ports:
      - 8001:8000
    command: supervisord -c supervisord.conf
    depends_on:
      - server
