{
    "bind_addr": "{{ ansible_host }}",
    "client_addr": "{{ ansible_host }} 127.0.0.1",
    "datacenter": "{{ database_consul_client_datacenter }}",
    "domain": "{{ database_consul_client_domain }}",
    "data_dir": "{{ database_consul_client_data_dir }}",
    "ui_config": {
        "enabled" : {{ database_consul_client_ui_config.enabled|lower }}
    },
    "log_level": "{{ database_consul_client_log_level }}",
    "enable_debug": {{ database_consul_client_enable_debug|lower }},
    "node_name": "{{ inventory_hostname }}",
    "server": {{ database_consul_client_server|lower }},
    "recursors": {{ database_consul_client_recursors }},
    "services": [
{% for host in groups['consul'] %}
        {
            "id": "postgres-master-{{ hostvars[host].ansible_host}}",
            "name": "postgres-rw",
            "address": "{{ ansible_host }}",
            "port": 5432
        },
        {
            "id": "postgres-replica-{{ hostvars[host].ansible_host}}",
            "name": "postgres-ro",
            "address": "{{ hostvars[host].ansible_host }}",
            "port": 5433
        }{{ "," if not loop.last else ""}}
{% endfor %}
    ],
    "rejoin_after_leave": {{ database_consul_client_rejoin_after_leave|lower }},
    "disable_update_check": {{ database_consul_client_disable_update_check|lower}},
    "retry_join": [
{% for host in region_nodes %}
        "{{ hostvars[host].ansible_host }}:8301"{{ "," if not loop.last else "" }}
{% endfor %}
    ]
}
