exporter_host: 0.0.0.0
exporter_port: {{ database_pgbouncer_exporter_port | default(9127) }}
pgbouncers:
  - dsn: postgresql://{{ database_postgres_user.superuser.username }}:{{ database_postgres_user.superuser.password }}@pgbouncer:{{ database_pgbouncer_port }}/pgbouncer
    connect_timeout: 5
    extra_labels:
        pool_id: 1